

.margin_left{

}
.card{

  margin:5px 5px 5px 5px;
  padding:1px 1px 1px 1px;
}

.card-collection{
  width:100%;
  height:100%;
display:flex;
flex-direction:row;
flex-wrap: wrap;

}
.Page1 {


}
iframe{
border-radius:10px;

}
.Page1 h1{

}

.Page2 img {



}

.Page3 img {



}
.margin_down{
   margin-top:30%;
}
